.page {
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  background-color: #2A2C2F;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

.header {
  max-width: 1184px;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-height: 52px;
  padding: 28px 48px 0;
}

.header__logo {
  width: 176px;
  height: 52px;
}

.header__lang-link {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 39px;
  color: white;
  text-decoration: none;
}

.header__lang-link_active {
  text-decoration: underline;
  padding-right: 14px;
}

.main {
  max-width: 1280px;
  margin: 0 auto;
}

.lead {
  padding-top: 56px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 984px;
}

.lead__title {
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
}

.lead__subtitle {
  margin: 0 auto;
  padding-top: 32px;
  text-align: center;
  max-width: 640px;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}

.lead__image {
  width: 100%;
  max-width: 984px;
  object-fit: cover;
  padding-top: 64px;
  margin: 0 auto;
}

.lead__caption {
  margin: 0;
  padding-top: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.intro {
  max-width: 984px;
  margin: 0 auto;
  padding-top: 92px;
}

.intro__title {
  max-width: 690px;
  margin: 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

.intro__text {
  margin: 0;
  padding-top: 40px;
  max-width: 690px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.intro__list {
  padding: 33px 0 0;
  list-style: none;
  margin: 0;
}

.intro__list-item {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

.intro__list-number {
  font-weight: 400;
}

.photo-grid {
  max-width: 1280px;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 92px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}

.photo-grid__item {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.places {
  max-width: 984px;
  padding-top: 92px;
  margin: 0 auto;
}

.place {
  padding-top: 80px;
  display: grid;
  grid-template-columns: 46.7% minmax(min-content, max-content);
  grid-template-rows: repeat(2 minmax(min-content, max-content));
  row-gap: 48px;
}

.place:first-child {
  padding-top: 0;
}

.place__title {
  margin: 0;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
}

.place__website {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  align-self: end;
}

.place__url-headeng {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  color: #AAAAAA;
}

.place__link {
  margin: 0;
  padding-top: 12px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: white;
}

.place__link:hover {
  opacity: 80%;
}

.place__image {
  width: 100%;
  height: 100%;
  max-width: 460px;
  max-height: 460px;
  object-fit: cover;
}

.place__paragraph {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  padding-left: 40px;
}

.place__paragraph:nth-of-type(2n) {
  padding-top: 28px;
}

.cover {
  background-image: url('../images/cover-trains.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1184px;
  margin: 92px auto 0;
  box-sizing: border-box;
}

.cover__overlay {
  text-decoration: none;
  color: white;
  padding-top: 245px;
  padding-bottom: 245px;
  display: block;
  background-color: rgba(42, 44, 47, 0.3);
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, 0.8);
}

.cover__title {
  margin: 0 auto 32px;
  text-align: center;
  max-width: 560px;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
}

.cover__subtitle {
  margin: 0 auto;
  text-align: center;
  max-width: 360px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}

.footer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 92px 48px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__links {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__item_link {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: white;
  text-decoration: none;
}

.footer__item {
  padding-left: 19px;
}

.footer__item:first-child {
  padding-left: 0;
}

.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
  }

  .lead {
    max-width: 1024px;
    padding-top: 48px;
  }

  .lead__image {
    padding-top: 56px;
    max-width: 928px;
  }

  .lead__caption {
    padding-left: 48px;
  }

  .intro {
    max-width: 1024px;
    padding-left: 48px;
  }

  .photo-grid {
    max-width: 1024px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 14px;
  }

  .places {
    max-width: 1024px;
    padding-left: 48px;
    padding-right: 48px;
  }

  .place {
    grid-template-columns: 48% minmax(min-content, max-content);
  }

  .place__image {
    max-width: 440px;
    max-height: 440px;
  }

  .place__paragraph {
    padding-left: 27px;
  }

  .place__website {
    padding-left: 27px;
  }

  .cover {
    width: 100%;
  }

  .cover__overlay {
    padding-top: 195px;
    padding-bottom: 195px;
  }

  .footer {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .main {
    max-width: 768px;
  }

  .header {
    max-width: 720px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .lead__caption {
    padding-left: 24px;
  }

  .intro {
    max-width: 768px;
    padding: 88px 24px 0;
  }

  .photo-grid {
    max-width: 768px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 16px;
    padding-top: 87px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .places {
    max-width: 768px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .place {
    row-gap: 45px;
    padding-top: 74px;
  }

  .place__image {
    max-width: 340px;
    max-height: 340px;
  }

  .place__title {
    font-size: 42px;
    line-height: 46px;
    max-width: 330px;
  }

  .place__website {
    padding-left: 22px;
  }

  .place__paragraph {
    font-size: 16px;
    padding-left: 22px;
    line-height: 1.62;
  }

  .cover {
    width: 100%;
  }

  .cover__overlay {
    padding-top: 115px;
    padding-bottom: 115px;
  }

  .footer {
    max-width: 768px;
    padding: 92px 24px 24px;
  }
}

@media screen and (max-width: 680px) {
  .lead__title {
    font-size: 40px;
    line-height: 50px;
  }

  .lead__subtitle {
    font-size: 20px;
    line-height: 25px;
  }

  .place {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4 minmax(min-content, max-content));
  }

  .place__website {
    padding-left: 0;
  }

  .place__paragraph {
    padding-left: 0;
  }

  .cover__title {
    font-size: 40px;
    line-height: 1.1;
  }

  .cover__overlay {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .footer {
    flex-direction: column;
  }

  .footer__links {
    flex-direction: column;
  }
  
  .footer__item_link {
    font-size: 30px;
    line-height: 1;
  }
  
  .footer__item {
    padding-left: 0px;
    padding-top: 38px;
  }
  
  .footer__item:first-child {
    padding-top: 0;
  }

  .footer__copyright {
    padding-top: 40px;
  }
}

@media screen and (max-width: 320px) {
  .main {
    max-width: 320px;
  }

  .header {
    max-width: 288px;
    padding: 16px 16px 0;
  }

  .header__logo {
    width: 142px;
    height: 42px;
  }

  .header__lang-link {
    font-size: 18px;
    line-height: 30px;
  }

  .lead__image {
    padding-top: 0px;
  }

  .lead__title {
    font-size: 40px;
    line-height: 44px;
    max-width: 288px;
  }

  .lead__subtitle {
    padding-top: 16px;
    padding-bottom: 40px;
    font-size: 16px;
    line-height: 20px;
    max-width: 288px;
  }

  .lead__caption {
    padding-left: 16px;
  }

  .intro {
    max-width: 288px;
    padding-top: 64px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 250px;
  }

  .photo-grid {
    padding-top: 64px;
    max-width: 288px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 12px;
  }

  .places {
    max-width: 320px;
    padding-top: 64px;
  }

  .place {
    padding-top: 55px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4 minmax(min-content, max-content));
    row-gap: 32px;
  }

  .place__image {
    max-width: 320px;
    max-height: 320px;
  }

  .place__title {
    padding-left: 16px;
    font-size: 32px;
    line-height: 35px;
  }

  .place__website {
    padding-left: 16px;
  }

  .place__paragraph {
    max-width: 285px;
    padding-left: 16px;
  }

  .cover {
    margin-top: 66px;
  }

  .cover__overlay {
    padding-top: 33px;
    padding-bottom: 33px;
  }

  .cover__title {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 16px;
    max-width: 240px;
  }

  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 265px;
  }

  .footer {
    max-width: 320px;
    padding: 72px 16px 24px;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .footer__links {
    flex-direction: column;
  }
  
  .footer__item_link {
    font-size: 24px;
    line-height: 1;
  }
  
  .footer__item {
    padding-left: 0px;
    padding-top: 38px;
  }
  
  .footer__item:first-child {
    padding-top: 0;
  }
  
  .footer__copyright {
    padding-top: 44px;
  }
}